# folders from .net which you don't want in your git repo
obj
bin

# folders from node which you don't want in your git repo
node_modules

# folders from visual studio which you don't want in your git repo
.temp_cache
.temp_cache\default-production

# folders from built webpack which you don't want in your git repo
dist